.navbar {
  height: $navbar-height;
  display: flex;
  align-items: center;

  &__links {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
  }
  &__link-wrapper {
    text-decoration: none;
  }
  &__link {
    list-style: none;
    text-transform: uppercase;
    background-color: $color-dark-green;
    color: $color-white;
    padding: $button-padding;
    transition: background-color 500ms;
    &:hover {
      background-color: darken($color-dark-green, 10);
    }
  }
}