// Colors
$color-light-blue: #DBEDF3;
$color-white: #FAFAFA;
$color-dark-green: #3FA587;
$color-black: #000000;
$color-light-grey: #D6D6D6;

// Sizes
$default-padding: 30px;
$button-padding: 10px;
$navbar-height: 80px;

// Font-sizes
$defult-mobile-title: 18px;
$defult-desktop-title: 24px;