@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');

.App {
  text-align: center;
}

body {
  margin: 0;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40px ;
  background-color: crimson;
  color:aliceblue;
}

.nav-links {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  color:aliceblue;
}

.nav-item-style {
  font-family: 'Heebo', sans-serif;
  color:aliceblue;
  text-decoration: none;
}
.nav-item-style:hover {
  color:rgb(117, 15, 35);
}


a:link {
  text-decoration: none;
}

.cursor-arrow {
  cursor: context-menu;
}
